<!DOCTYPE html>
<HTML lang='KO'>
<head>
	<meta charset="UTF-8">
	<title>AI 복덕방</title>
	
	<!-- cross browsing 방지 -->
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.2, minimum-scale=0.8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- css -->
	<link href='/static/css/basic.css' rel='stylesheet'>
	<style>
		.customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
		.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
		.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
		.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
		.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
	</style>
	
	<!-- font -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	
	<!-- java script -->
	<script src='/static/js/jquery-1.12.4.min.js'></script>
	<script src='/static/js/main.js'></script>
	<script src='/static/js/prefixfree.dynamic-dom.js'></script>
	<!-- api 불러오기 -->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ede96e94d2d9a187882ea735ac4f1e84&libraries=services,clusterer,drawing"></script>
	
</head>

<body>
<!-- 디자인용 -->
<div class="containerBg"></div>
<!-- 전체 -->
<div class="container">
	{% block header %}
		{% include "left.html"%}
	{% endblock %}
	
	<!-- 본문 -->
	<div class="contents">
		<!-- 검색창 -->
		<div class="search">
			<h1>home</h1>
			<input type="text">
			<input type="submit" value="검색">
		</div>
		
	</div>
</div>
</body>
</html>