<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>AI 복덕방 - 모델 상세정보</title>
	<!-- cross browsing 방지 -->
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.2, minimum-scale=0.8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- font -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<!-- java script -->
	<script src='/static/js/jquery-1.12.4.min.js'></script>
	<script src='/static/js/main.js'></script>
	<script src='/static/js/prefixfree.dynamic-dom.js'></script>

	<!-- boot strap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  	<!-- css -->
	<link href='/static/css/basic.css' rel='stylesheet'>
	<style>
		a{
	      	color:black;
	      }
		a:hover{
	      	color:orange;
	      	text-decoration: none;
      	}
	</style>
</head>
<body>
<!-- 디자인용 -->
<div class="containerBg"></div>
<!-- 전체 -->
<div class="containers" style="height:10000px;">
	{% block header %}
		{% include "left.html"%}
	{% endblock %}

	<!-- 본문 -->
	<div class="contents">
		<!-- 검색창 -->
		<div class="search">
			<h2>모델 분석 정보</h2>
		</div>
		<br>
		<h3>1. 변수</h3>
		<!-- 상세정보 -->
		<table class="table">
			<tr>
				<th>변수명</th><th>내용</th><th>변수형태</th>
			</tr>
			<tr class="success">
				<td>apartment_id</td><td>아파트 아이디</td><td>범주형</td>
			</tr>
			<tr class="success">
				<td>gu</td><td>구</td><td>범주형</td>
			</tr>
			<tr class="info">
				<td>exclusive_use_area</td><td>전용면적</td><td>수치형</td>
			</tr>
			<tr class="success">
				<td>year_of_completion</td><td>설립일자</td><td>범주형</td>
			</tr>
			<tr class="success">
				<td>transaction_year_month</td><td>거래년월</td><td>범주형</td>
			</tr>

			<tr class="success">
				<td>transaction_date</td><td>거래날짜</td><td>범주형</td>
			</tr>
			<tr class="success">
				<td>floor</td><td>층</td><td>범주형</td>
			</tr>
			<tr class="info">
				<td>park_area_sum</td><td>공원 면적</td><td>수치형</td>
			</tr>
			<tr class="info">
				<td>day_care_babyTeacher_rate</td><td>보육 교사 수</td><td>수치형</td>
			</tr>
			<tr class="info">
				<td>transaction_real_price</td><td>집 값</td><td>수치형</td>
			</tr>
			<tr class="info">
				<td>cctv_num</td><td>구 별 cctv</td><td>수치형</td>
			</tr>
		</table>
		<br>

		<h3>2. 산포도</h3>
	   	<h4>① 전용면적</h4>
		<div class='postModel'>
			<img src='/static/model/linear_area.png' alt ='model2'>
	   	</div>
	   	<br>

	   	<h4>② 공원면적</h4>
		<div class='postModel'>
			<img src='/static/model/linear_park.png' alt ='model2'>
	   	</div>
	   	<br>

	   	<h4>③ 교육지수</h4>
		<div class='postModel'>
			<img src='/static/model/linear_teacher.png' alt ='model2'>
	   	</div>
		<h3>3. 사후검증</h3>
		<h4>① 구</h4>
		<div>
			<img class='postModel' src='/static/model/PostHoc_gu.png' alt ='model1'>
		</div>
		<br>

		<h4>② 설립년도</h4>
		<div>
			<img class='postModel' src='/static/model/PostHoc_completion.png' alt ='model1'>
		</div>
		<br>

		<h4>③ 층</h4>
		<div>
			<img class='postModel' src='/static/model/PostHoc_floor.png' alt ='model2'>
	   	</div>
	   	<br>

	   	<br>

	   	<h3>3. 상관계수</h3>
	   	<div class='text'>수치형으로만 이루어진 feature들끼리의 피어슨 상관계수를 통해 상관관계를 확인해보면, 다음과 같은 사실을 알 수 있다.</div>
	   	<h4>① 특성 중요도</h4>
	   	<div>
			<img style='width:700px;' src='/static/model/model3.png' alt ='model3'>
	   	</div>
	   	<h4>② heatmap</h4>
	   	<div>
			<img src='/static/model/heatmap.png' alt ='heatmap'>
	   	</div><br>
		<br>
		<div class='text'>exclusive_use_area, CCTV ,day_care_babyTeacher_rate, park_area_sum 순으로 상관관계가 있다고할 수 있다.</div><br>
		<h4>exclusive_use_area 상관계수</h4>
		<div class='text'>exclusive_use_area는 상관계수가 0.669로 가장 높은 양의 상관관계를 띈다고 볼 수 있다.</div><br>
		<h4>day_care_babyTeacher_rate 상관계수</h4>
		<div class='text'>'day_care_babyTeacher_rate' 변수는 0.05로 그리 강하진 않지만, 양의 상관관계를 갖고 있다고 볼 수 있다.</div><br>
		<h4>park_area_sum 상관계수</h4>
		<div class='text'>'park_area_sum' 변수는 약 -0.14로 상관관계가 거의 없다고 봐도 무방하다.</div><br>
	   	<h2>4. ols를 이용한 Multiple Linear Regression</h2>
         <div class='text'>model 식 :<br>
          <pre>
Intercept              :      -5.96e-16 <br>
gu                     :       -0.0094<br>
exclusive_use_area     :        0.6412<br>
year_of_completion     :       -0.1049<br>
transaction_year_month :        0.1099<br>
floor                  :        0.0935<br>
park_area_sum          :       -0.0273<br>
day_care_babyTeacher_rate  :    0.0871<br>
cctv_num               :        0.2065<br>
k_remap                :       -0.0167<br>

최종 식 : -0.0094 * gu + 0.6412 * exclusive_use_area - 0.1049 * year_of_completion   + 0.1099 * transaction_year_month
+ 0.0935 * floor - 0.0273 * park_area_sum   + 0.0871 * day_care_babyTeacher_rate + 0.2065 * cctv_num -0.0167 * k_remap -5.96e-16<br>
       </pre>
       모델 설명 : 독립변수가 2개 이상인 다중회귀분석을 ols를 통하여 만들어보았다. 독립변수가 수치형으로 되어 있어야 회귀분석이 가능하지만, 범주형 변수인 더미변수 형태로 분석할 시,
       회귀분석이 가능하다. 각각의 계수는 scale을 통하여 표준화 시켰다. <br>
       MinMaxScaler는 이상치에 민감한 scaler이므로, StandardScaler를 사용하였다. <br>
       <br>
      <p><img style='width:700px;' src='/static/images/ols_rsquared.png' alt ='model3'></p>
      사용한 독립변수 : gu, exclusive_use_area, year_of_completion, transaction_year_month, floor, park_area_sum, day_care_babyTeacher_rate, cctv_num, k_remap <br>
      일반적으로 다중회귀분석에서 R<sup>2</sup>의 값이 0.66(66%)보다 높으면 잘 설명하고 있다라고 해석이 가능하다.<br>
      하지만 이는 독립변수의 갯수가 증가하면 결정계수가 자연스럽게 증가하는 경향이 있다. 그러므로 독립변수가 2개 이상인 다중회귀분석에서는 조정된 결정계수(Adj. R-Squared)를 통해 모델의 설명력을 알 수 있다.<br>
      ols로 모델을 분석해 본 결과, 0.54(54%)정도의 설명력을 가진다.<br>

       <br>

       </div><br>
	   	<h4>① 선형성 -잔차가 정규성을 만족하는 지 판단</h4>
	   	<div>
			<img src='/static/model/선형성.png' alt ='선형성'>
	   	</div>
	   	<div class='text'>결과 : 이상치 몇 개를 제외하곤 선형성을 만족한다고 볼 수 있다.</div><br>

	   	<h4>② 정규성 - 변수와 잔차는 정규분포를 따라야함</h4>
	   	<div>
			<img src='/static/model/정규성.png' alt ='정규성'>
	   	</div>
	   	<div class='text'>결과 : 시각화된 이미지를 봤을 때, 정규성을 만족한다고 볼 수 있다. 하지만 p-value 값은 1.60e-21이므로 0.05보다 작아 정규성을 만족하지 못한다고 볼 수 있다.
이는 왼쪽 하단과 오른쪽 상단의 이상치 때문인 것으로 추측한다.</div><br>

	   	<h4>③ 독립성 - 다중회귀분석에서 중요한 가정이다. 단순회귀 분석에는 해당되지 않으며, 잔차와 독립변수 간에 상관관계가 없이 독립성을 만족하는 가가 중요하다.</h4>
	   	<div class='text'>Durbin-Watson 검정법을 통해 오차항에 자기상관이 있는 지 없는 지 판단하였다.<br>
			DW 통계량이 0에 가까울 경우 -> 양의 자기상관<br>
			DW 통계량이 2에 가까울 경우 -> 자기상관이 없다고 판단<br>
			DW 통계량이 4에 가까울 경우 -> 음의 자기상관</div><br>
	   		Durbin-Watson:1.631로 자기상관이 없다고 판단<br>
	   	<h4>④ 등분산성 - 오차의 분산이 같아야 함. 일정한 분산을 가진 정규분포를 가진다고 가정</h4>
	   	<div>
			<img src='/static/model/등분산성.png' alt ='등분산성'>
	   	</div>
	   	<div class='text'>추세선이 수평선을 그리지않으므로 등분산성을 만족하지 못한다. 잔차의 분산이 일정하지 못하다.</div><br>

	   	<h4>⑤ 다중공산성 - 독립변수들 간에 상관관계를 확인. </h4>
	   	<table class='table'>
	   		<tr>
	   			<td>변수명</td><td>VIF 분산 팽창요인</td>
	   		</tr>
	   		<tr>
	   			<td>gu</td><td>0.000000</td>
	   		</tr>
	   		<tr>
	   			<td>exclusive_use_area</td><td>4.661656</td>
	   		</tr>
	   		<tr>
	   			<td>year_of_completion</td><td>1.205255</td>
	   		</tr>
	   		<tr>
	   			<td>transaction_year_month</td><td>1.030238</td>
	   		</tr>
	   		<tr>
	   			<td>floor</td><td>1.071141</td>
	   		</tr>
	   		<tr>
	   			<td>park_area_sum</td><td>0.000000</td>
	   		</tr>
	   		<tr>
	   			<td>day_care_babyTeacher_rate</td><td>0.000000</td>
	   		</tr>
	   		<tr>
	   			<td>transaction_real_price</td><td>5.086743</td>
	   		</tr>
	   		<tr>
	   			<td>number_of_cctv</td><td>0.000000</td>
	   		</tr>
	   	</table>
	   	<div class='text'>독립변수들 간에 강한 상관관계 확인<br>
			VIF(Variance Inflation Factors - 분산 팽창 요인) 값이 10을 넘으면 다중공선성이 발생하는 변수라고 할 수 있다.<br>
			다중선형회귀분석에서 만약 독립변수가 범주형이라면, 더미변수로 바꿔서 사용하면 된다. <br>
			현 데이터셋에는 범주형변수가 있지만, 더미변수 처리로 인하여 모두 사용할 수 있게 만들었다.<br>
		</div><br>

	    <h2>5. Mutivariable RandomForestRegressor (랜덤포레스트 회귀분석모델)</h2>

     <div class='text'>
         사용 이유 : RandomForest는가장 정확한 학습 알고리즘 중 하나로서 overfitting 방지를 할 수 있다.<br>
         임의의 데이터를 중복을 허용하여 선택함으로써 각각의 트리를 형성한다.<br>
   RandomForest로 모델을 분석해 본 결과, 0.67(67%)정도의 설명력을 가진다.<br>
   모델은 RandomForestRegressor(n_estimators=20, criterion='mse', max_depth=5, random_state=123)으로 <br>
   n_estimators는 defualt가 10으로, n_estimators=20이상일 때 결과에서 유의미한 차이가 없었다.<br>
   max_depth는 defualt가 None으로, None으로 설정 시 mse가 제일 좋은 결과가 나올때까지 노드 수를 늘려 과적합 현상이 일어나는 모델이 생성될 가능성이 높아진다.<br>
   이를 방지하기 위하여 max_depth=5로 정하였다.

   추정된 회귀식의 설명하는 영역이 설명하지 못하는 영역에 비해 얼마나 큰지 나타내는 검정통계량(Test Statistics)Fvalue의<br>
   값이 클수록 회귀식의 귀무가설(H0:회귀식의 기울기가0이다)를 기각할 가능성이 커지게 된다. <br>
   <br>
   Fvalue = MSR / MSE <br>
   <br>
   Fvalue는 MSR이 커지고, MSE가 작아질 수록 값이 커지기에 분석모형의 성능 평가를 MSE로 설명할 수 있다. <br>
   즉, MSE가 작은 모형일수록 회귀식의 오차가 줄기때문에 그만큼 현상을 잘 설명한다고 할 수 있다.<br>
   평균제곱근오차(MSE)또한 0.575로 충분히 작다고 볼 수 있다.<br>

         과적합 확인을 위한 작업으로 train데이터와 test데이터를 7:3으로 나누어 각각의 설명력(R2)의 값을 비교하였다.<br>
    train설명력(R<sup>2</sup>) : 0.6742<br>
    test설명력(R<sup>2</sup>) : 0.6735<br>
         으로 둘 다 비슷한 설명력을 가지므로, 과적합이 이루어지지 않았음을 확인할 수 있다.

        <div>
         <img src='/static/model/randomregfinal.png' alt ='rf'>
         </div>
         상관계수가 가장 높은 exclusive_use_area변수를 RandomForest를 통해 예측한 산포도 그래프
         <div>
         <img src='/static/model/model5.png' alt ='model5'>
         </div><br>

		<h2>6. Tensorflow (텐서플로우) 모델 분석</h2>
	  <div class='text'>
         사용 이유 : 딥러닝 모델을 활용하여 여러 레이어에서 데이터를 학습하여 높은 성능을 기대. <br>
         <br>
         설명력(R<sup>2</sup>) : 84.25%
     </div><br>
		<h4>데이터 변수 분석</h4>
		<div class='text'>
			gu, exclusive_use_area, year_of_completion, transaction_year_month, <br>
			transaction_date, floor, park_area_sum, day_care_babyTeacher_rate, cctv_num, k_remap <br>
			총 10가지의 변수를 바탕으로 분석을 해보았다.
		</div><br>
		<h4>표준화 진행</h4>
		<div class='text'>
			표준화 작업을 통해 train data의 loss값을 현저히 줄여서 0.22대로 낮추었다.
		</div><br>
		<h4>딥러닝 Layer 분석</h4><br>
		<h4>Activation 함수 - linear, relu </h4>
		<div class='text'>
		다중 회귀 분석을 하였기때문에 활성함수 같은 경우에는 linear를 사용하였다. <br>
			하지만 모두 linear를 쓰지 않고 중간 레이어에 relu를 추가하였더니 모델의 성능이 더 좋게 나왔다.
		</div>
		<h4>Layer 수 조정 - 4</h4>
		<div class='text'>
			Dense Layer를 7(0.01), 3(0.54), 4(0.84)로 나누어 실험해본 결과 4개의 Layer가 가장 설명력이 높게 나온 것으로 확인되었다.
		</div>
		<h4>learning_rate 조정 - 0.0001</h4>
		<div class='text'>
			optimizer의 learning rate를 0.1, 0.01, 0.001, 0.0001로 조정해서 값을 확인한 결과 0.0001일때 더 높은 설명력이 나온 것으로 확인되었다.
		</div>
		<h4>validation 조정 - 0.3</h4>
		<div class='text'>
			validation_split 을 0.3으로 조정하여 과적합을 방지하고, 모델의 성능을 높였다.
		</div>
		<h4>epoch 조정 - 100</h4>
		<div class='text'>
			epoch를 100, 500, 2000으로 조정하여 값을 확인해본 결과 100번이 돌기 전에 모두 조기학습종료(EarlyStopping)를 하였다.
		</div><br>
		<h4>결과분석</h4>
		<div class='text'>
			변수를 여러개를 조정한 결과 최종적으로 loss는 0.199 결정계수는 84.25% 가 나왔다.
			이를 통해 tensor를 활용한 해당 모델은 변수에 대해 84.25%의 설명력을 가지고 있다는 것을 알 수 있었다.
		</div>
	   	<div>
			<img src='/static/images/tensormodel.png' alt ='model5'>
	   	</div>


	</div>
</div>
</body>
</html>